
@{
    ViewData["Title"] = "Forgotpass";
}

<div class="logindivgrp position-relative">
    <div class="row my-4">
        <div class="col-xl-4 col-md-8 maindiv mx-auto">
            <a class="text-decoration-none text-info h6 back" asp-controller="Home" asp-action="Login">
                <i class="fa fa-angle-left fa-2x text-info align-middle"></i>
                <span class="align-middle"><b class="align-text-top">&nbsp;&nbsp;Back</b></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 text-center">
            <h1>Reset Your Password</h1>
        </div>
    </div>
    <form method="post" asp-action="resetEmail" asp-controller="Home">
        <div class="row my-4">
            <div class="col-xl-4 col-md-8 maindiv mx-auto">
                @TempData["EmailCheck"]
                <div class="form-floating email" asp-action="resetEmail" asp-controller="Home">
                    <input type="text" class="form-control shadow-none" id="floatingInputValue" name="Email" placeholder="Email">
                    <label for="floatingInputValue colour-info">Email</label>
                    <button class="btn btn-light">
                        <i class='fa fa-user-circle field-icon position-relative'></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-xl-4 col-md-8 maindiv mx-auto">
                <button class="form-control btn btn-info text-light" type="submit">Reset Password</button>
            </div>
        </div>
    </form>
    
    <div class="row">
        <div class="col-12 text-center">
            <b>
                <a class="text-decoration-none text-info h6 back" asp-controller="Home" asp-action="Login">
                    <i class="fa fa-angle-left fa-2x text-info align-middle"></i>
                    <span class="align-middle"><b class="align-text-top">&nbsp;&nbsp;Back to Login</b></span>
                </a>
            </b>
        </div>
    </div>
</div>

