
@{
    ViewData["Title"] = "Index";
}

<div class="divgrp position-relative indexdivgrp">
    <div class="row my-4">
        <div class="col-xl-6 col-md-8 mx-auto">
            <a asp-controller="Request" asp-action="Index" class="form-control btn btn-info text-light py-3">Submit A Request</a>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-xl-6 col-md-8 mx-auto">
            <a asp-controller="Home" asp-action="login" class="form-control btn btn-primary text-light py-3">Registered Patients</a>
        </div>
    </div>
</div>

