


@{
    ViewData["Title"] = "login";
}

<div class="logindivgrp position-relative">
    <div class="row my-4">
        <div class="col-xl-4 col-md-8 maindiv mx-auto">
            <a class="text-decoration-none text-info h6 back" asp-controller="Home" asp-action="Index">
                <i class="fa fa-angle-left fa-2x text-info align-middle"></i>
                <span class="align-middle"><b class="align-text-top">&nbsp;&nbsp;Back</b></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 text-center">
            <h1>Login To Your Account</h1>
        </div>
    </div>
    <form  >
        <div class="row my-4">
            <div class="col-xl-4 col-md-8 maindiv mx-auto">
                <div class="form-floating email">
                    <input  type="email" class="form-control shadow-none" id="floatingInputValue" placeholder="name@example.com">
                    <label for="floatingInputValue colour-info">Email</label>
                    <button class="btn btn-light">
                        <i class='fa fa-user-circle field-icon position-relative'></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-8 maindiv mx-auto">
                <div class="form-floating password">
                    <input  type="password" class="form-control shadow-none eyehide" id="floatingPassword" placeholder="name@example.com">
                    <label for="floatingPassword colour-info">Password</label>
                    <button type="button" class="btn btn-light" onclick="passtoggle()">
                        <i class="showImg fa fa-eye"></i>
                        <i class="fa fa-eye-slash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-xl-4 col-md-8 maindiv mx-auto">
                <button type="Submit" class="form-control btn btn-info text-light">Log in</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12 text-center">
            <b><a asp-controller="Home" asp-action="Forgotpass" class="text-decoration-none text-info">Forgot Password?</a></b>
        </div>
    </div>
</div>

