
@{
    ViewData["Title"] = "FamilyFriendRequest";
}

<div class="container">
    <div class="position-relative">
        <div class="row">
            <div class="col-xl-12 text-center">
                <a asp-controller="Request" asp-action="Index" class="btn btn-outline-info backbtnreq">
                    <i class="fa fa-angle-left fa-2x text-info align-middle"></i>
                    <span class="align-middle text-info">
                        <b class="align-text-top">&nbsp;&nbsp;Back</b>
                    </span>
                </a>
            </div>
        </div>
        <!-- form -->
        <div class="divgrpreq mx-xl-4 mx-md-3 mx-sm-2 bg-white rounded">

            <!-- Family/Friend Information -->
            <div class="row p-3">
                <div class="col-12">
                    <h5><b>Family/Friend Information</b></h5>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="fname" placeholder="First Name">
                        <label for="fname">Your First Name</label>
                    </form>
                </div>
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="lname" placeholder="Last Name">
                        <label for="lname">Your First Name</label>
                    </form>
                </div>
                <div class="col-md-6 phone">
                    <form class="form-floating">
                        <input type="number" class="form-control shadow-none" id="phone">
                    </form>
                </div>
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="lname" placeholder="Last Name">
                        <label for="lname">Your Email</label>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="lname" placeholder="Last Name">
                        <label for="lname">Relation With Patient</label>
                    </form>
                </div>
            </div>

            <!-- patient Information -->
            <div class="row p-3">
                <div class="col-12">
                    <h5><b class="">Patient Information</b></h5>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="w-100 form-control txtarea shadow-none" id="floatingInputValue"></textarea>
                        <label for="floatingInputValue">Enter Brief Details Of Symptoms(Optional)</label>
                    </div>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="fname" placeholder="First Name">
                        <label for="fname">First Name</label>
                    </form>
                </div>
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="lname" placeholder="Last Name">
                        <label for="lname">Last Name</label>
                    </form>
                </div>
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="date" class="form-control shadow-none" id="dob" placeholder="Date Of Birth">
                        <label for="dob">Date Of Birth</label>
                    </form>
                </div>
            </div>

            <!-- Patient contact Information -->
            <div class="row p-3">
                <div class="col-12">
                    <h5><b>Patient Contact Information</b></h5>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-md-6">
                    <form class="form-floating pb-3">
                        <input type="text" class="form-control shadow-none" id="email" placeholder="Email">
                        <label for="email">Email</label>
                    </form>
                </div>
                <div class="col-md-6 phone">
                    <form class="form-floating">
                        <input type="number" class="form-control shadow-none" id="phone1">
                    </form>
                </div>
            </div>

            <!-- Patient Location -->
            <div class="row p-3">
                <div class="col-12">
                    <h5><b>Patient Location</b></h5>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="fname" placeholder="First Name">
                        <label for="fname">Street</label>
                    </form>
                </div>
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="lname" placeholder="Last Name">
                        <label for="lname">City</label>
                    </form>
                </div>
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="lname" placeholder="Last Name">
                        <label for="lname">State</label>
                    </form>
                </div>
                <div class="col-md-6 pb-3">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="lname" placeholder="Last Name">
                        <label for="lname">Zip Code</label>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-floating">
                        <input type="text" class="form-control shadow-none" id="lname" placeholder="Last Name">
                        <label for="lname">Room # / Suits (Optional)</label>
                    </form>
                </div>
            </div>

            <!-- Upload Files -->
            <div class="row p-3">
                <div class="col-12">
                    <h5><b>(Optional) Upload Photo or Document</b></h5>
                </div>
            </div>
            <div class="row px-3 pb-3">
                <div>
                    <div class="col-12 border rounded">
                        <div class="d-flex justify-content-between">
                            <span id="choosenfile" class="p-3">No file chosen</span>
                            <button class="bg-info btn btn-lg" onclick="document.getElementById('choosenfile').click()">
                                <label for="files" class="btn text-white">
                                    <i class="fa fa-cloud-upload"></i>
                                    Upload
                                </label>
                            </button>
                            <input id="files" type="file" class="d-none">
                        </div>
                    </div>
                </div>
            </div>

            <!-- cancel submit button -->
            <div class="row px-3 py-3">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-info btn-md text-white mx-3">Submit</button>
                    <button type="reset" class="btn btn-white btn-md text-info border border-info">Cancel</button>
                </div>
            </div>
            <!-- form end -->
        </div>
    </div>
</div>

<script src="~/js/custom.js"></script>