﻿@using static HallodocMVC.Models.CV;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloDoc</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar px-5  border-2 border-bottom navbar-expand-lg bg-white">
            <div class="container-fluid">
                <a class="navbar-brand " asp-action="Index" asp-controller="Home">
                    <img src="~/images/Fig56._Patient_site_1.png" class="img-fluid logo" />
                </a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <div class=" top-0 end-0 my-4 mx-5 position-absolute text-info border-info rounded-3 d-flex">
                    <h5 class="text-dark align-bottom pt-2 ">
                        @*collapse*@
                        Welcome <span class="fw-bolder"> @CV.UserName() </span>
                    </h5>
                    <a asp-action="Logout" asp-controller="Login" class="btn btn-outline-info mx-2">Logout</a>
                    <button class="btn btn-outline-info" onclick="mode()">
                        <i class="bi bi-moon"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3 container min-vh-100">
        @RenderBody()
    </main>
    <footer>
        <div class=" justify-content-end position-static  w-100 align-self-end d-flex left-0 bg-dark text-light px-2 align-items-end  bottom-0 py-3 fs-7 align-text-bottom align-items-end">
            <div class="text-center">

                <span class="text-center mx-2">
                    Term Of Condition
                </span>
                <span>
                    I
                </span>
                <span class="mx-2">
                    Privacy Policy
                </span>
            </div>
        </div>
    </footer>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
