﻿@using static HallodocMVC.Models.CV;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloDoc</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/dashboard.css" rel="stylesheet" type="text/css" asp-append-version="true" />
</head>
<body class="bg-light">
    <header>
        <nav class="navbar px-5 border-2 border-bottom navbar-expand-lg bg-white align-center">
            <div class="container-fluid">
                <div class="start-0 btn p-2 mx-3 my-auto">
                    <img src="../images/Fig56._Patient_site_1.png" class="header-img">
                </div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <div class="end-0 my-4 text-info border-info rounded-3 d-flex justify-content-center align-items-center">
                    <h5 class="text-dark">
                        @*collapse*@
                        Welcome <span class="fw-bolder"> @CV.UserName() </span>
                    </h5>
                    <a asp-action="Logout" asp-controller="Login" class="btn btn-outline-info mx-2">Logout</a>
                    <a class ="btn btn-outline-info mx-2">
                        <i class="fa fa-moon-o text-info"></i>
                    </a>
                </div>
            </div>
        </nav>
        <partial name="../_PartialViews/SubNav" />
    </header>

    <main role="main" class="pb-3 container">
        @RenderBody()
    </main>
    <footer class="fixed-bottom">
        <div class=" justify-content-end position-static  w-100 align-self-end d-flex left-0 bg-dark text-light px-2 align-items-end  bottom-0 py-3 fs-7 align-text-bottom align-items-end">
            <div class="text-center">

                <span class="text-center mx-2">
                    Term Of Condition
                </span>
                <span>
                    I
                </span>
                <span class="mx-2">
                    Privacy Policy
                </span>
            </div>
        </div>
    </footer>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
