.divgrpsubreq{
    top: 5vh;
}
.backbtnsubreq{
    position: absolute;
    right: 0.5vw;
    margin-right: 1vw;
}
.poppinsfont{
    font-family: 'Poppins', sans-serif;
}
.patientbtn{
    background-color: #e9eaef;
    color: #77809f;
    border: 2px solid #77809f;
}
.patientbtn:hover{
    background-color: #77809f;
    color: white;
}
.familyfriendbtn{
    background-color: #e5f2fa;
    color: #7bbdd1;
    border: 2px solid #7bbdd1;
}
.familyfriendbtn:hover{
    background-color: #7bbdd1;
    color: white;
}
.cinciergebtn{
    background-color: #e9f0e8;
    color: #5d885b;
    border: 2px solid #5d885b;
}
.cinciergebtn:hover{
    background-color: #5d885b;
    color: white;
}
.businesspartnerbtn{
    background-color: #f6e7ee;
    color: #a46b8a;
    border: 2px solid #a46b8a;
}
.businesspartnerbtn:hover{
    background-color: #a46b8a;
    color: white;
}
.backbtnsubreq:hover{
    background-color: white;
}
.divgrpreq{
    margin-top: 10vh;
    box-shadow: 0 0 5px 5px rgb(229, 224, 224);
    margin-bottom: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-height: 600px) {
    .divgrpreq{
        margin-top: 18vh;
    }
}
@media only screen and (max-height: 350px) {
    .divgrpreq{
        margin-top: 25vh;
    }
}
.backbtnreq{
    position: absolute;
    right: 0.5vw;
    margin-right: 1vw;
    margin-top: 2vh;
}
.backbtnreq:hover{
    background-color: white;
}
@media only screen and (max-height: 600px) {
    .backbtnreq{
        margin-top: 3vh;
    }
}
@media only screen and (max-height: 450px) {
    .backbtnreq{
        margin-top: 4vh;
    }
}
.form-floating .form-control ~ label {
    color: gray;
    font-size: small;
}
.form-floating .form-control:focus ~ label {
    color: #0dcaf0;
}
.form-floating input:focus, .form-floating textarea:focus {
    border: 2px solid #0dcaf0 !important;
}
.txtarea{
    height: 10vh !important;
}
.iti {
    display: block;
    width: 100%;
}
.phone .form-control
{
    line-height: 2.5;
}
.swal-title{
    font-family: 'Poppins', sans-serif;
}