<div class="modal fade" id="requestBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 >Create New Request</h5>
                <a data-bs-dismiss="modal">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="modal-body">
                <p>Here, I want to create new request for ...</p>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-info text-white mx-3">me</button>
                    <button type="button" class="btn border border-info text-info">Someone else</button>
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white">Continue</button>
                <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                
            </div>
        </div>
    </div>
</div>
<script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>