﻿@{
    string path = Context.Request.Path;
}
<nav class="navbar px-5 navbar-expand-lg bg-body shadow mb-5  rounded border border-top">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Patient_</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/Dashboard") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                <a class="nav-link px-3 text-dark @(path.StartsWith("/Profile") ? "active" : "")" asp-action="Index" asp-controller="Profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>

</script>