@{
    Layout = "_DashboardLayout";
}


@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserID");
}

<div class="justify-content-between d-flex container-fluid mt-5 position-relative ">
    <div class="">
        <h3 class="fw-bolder">
            Medical History @userId

        </h3>
    </div>
</div>
<div class="card border-0 shadow py-4 mb-5 mx-3 mt-3 rounded">
    <div class="text-end mx-2 px-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#create_new">
            Create New
            Request
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-responsive mt-3 p-3">
            <thead>
                <tr>
                    <th scope="col">Created Date <i class="bi bi-arrow-down"></i></th>
                    <th scope="col">Current Status</th>
                    <th scope="col">Document</th>
                </tr>
            </thead>
            <tbody class="table-group-divider mx-5">
                @foreach (var item in ViewBag.listofrequest)
                {
                    <tr>
                        <td scope="row"> @item.Createddate</td>
                        <td>@item.Status</td>
                        <td>
                            @{
                                if (ViewBag.docidlist.Contains(item.Requestid))
                                {
                                    <a asp-action="Index" asp-controller="Documentsinfo" asp-route-id="@item.Requestid" class="btn btn-outline-info btn-sm document-button">
                                        Document
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                             class="bi bi-arrow-down-circle mx-1" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                                        </svg>
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>

</div>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
